*{
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: aqua;
    cursor: all-scroll;

}
.date{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
.sign{
    margin: 20px auto;
    width: 50%;
    text-decoration: underline;
    padding: 10px;
}
#submit{
    display: block;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    border: 1px solid black;
    margin: 20px auto;
}
h1{
    text-decoration: underline;
}
#submit:hover{
    background-color: blue;
    border: 2px solid black;
    cursor:zoom-out;
    transform: scale(1.1);

}